In [9]:
import pandas as pd,math
import numpy as np

data = pd.read_csv("../data/CleanData/fullData.csv")#,index_col=0)

In [3]:
#datagrouped = data.groupby(["FORECASTER ID", "INDICATOR"]).agg({"ACTUAL_CONF": np.mean})

## First Version - Gets average confidence for forecaster by Indicator

In [4]:
#datagrouped = datagrouped.reset_index()
#datagrouped

     FORECASTER ID     INDICATOR  ACTUAL_CONF
0               20      Core CPI     0.107143
1               20      Core PCE     0.150000
2               20       RealGDP     0.264344
3               20  Unemployment     0.262500
4               30       RealGDP     0.267857
..             ...           ...          ...
449            590  Unemployment     0.000000
450            591      Core CPI          NaN
451            591      Core PCE          NaN
452            591       RealGDP          NaN
453            591  Unemployment          NaN

[454 rows x 3 columns]

In [15]:
#datagrouped2.apply(lambda x: sum([math.isnan(y) for y in x if type(y)==float]))

FORECASTER ID    0
ACTUAL_CONF      1
dtype: int64

## Second Version - Average Confidence Overall

In [36]:
avg_conf = data.groupby(["FORECASTER ID"]).agg({"ACTUAL_CONF": np.mean}).reset_index()
avg_conf.fillna(avg_conf["ACTUAL_CONF"].mean(),inplace=True)
avg_conf.rename(columns={"ACTUAL_CONF":"FORECASTER_CONF"},inplace=True)

In [45]:
full_data = data.merge(avg_conf,how="left",left_on="FORECASTER ID",right_on="FORECASTER ID")

In [ ]:
full_data.to_csv()

## Testing Merge

In [23]:
relevant = data[data["YEAR FORECAST MADE"]>=1992][["YEAR FORECAST MADE",'YEAR BEING FORECAST', 'FORECASTER ID', 'INDICATOR', 'actual', 'MAX', 'pred_average', 'pred_var', 'banana', 'beef', 'bread', 'chicken',
        'eggs', 'electricity', 'flour', 'iceCream',
       'unleadedGasoline']]

In [24]:
predict_set = relevant[relevant["YEAR BEING FORECAST"]>2021]

In [25]:
predict_set.head()

,YEAR FORECAST MADE,YEAR BEING FORECAST,FORECASTER ID,INDICATOR,actual,MAX,pred_average,pred_var,banana,beef,bread,chicken,eggs,electricity,flour,iceCream,unleadedGasoline
26890,2019,2022,411,RealGDP,NaN,NaN,NaN,NaN,0.576,3.761333,1.272333,1.475667,1.551667,0.135333,0.442333,4.894667,2.402
26891,2019,2022,421,RealGDP,NaN,0.35,1.8,1.01,0.576,3.761333,1.272333,1.475667,1.551667,0.135333,0.442333,4.894667,2.402
26892,2019,2022,422,RealGDP,NaN,NaN,NaN,NaN,0.576,3.761333,1.272333,1.475667,1.551667,0.135333,0.442333,4.894667,2.402
26893,2019,2022,423,RealGDP,NaN,NaN,NaN,NaN,0.576,3.761333,1.272333,1.475667,1.551667,0.135333,0.442333,4.894667,2.402
26894,2019,2022,424,RealGDP,NaN,NaN,NaN,NaN,0.576,3.761333,1.272333,1.475667,1.551667,0.135333,0.442333,4.894667,2.402

In [26]:
# First Way Merge
predicted_conf = pd.merge(predict_set, datagrouped, how="left", left_on=["FORECASTER ID", "INDICATOR"], right_on=["FORECASTER ID", "INDICATOR"] )

In [27]:
predicted_conf.head()

,YEAR FORECAST MADE,YEAR BEING FORECAST,FORECASTER ID,INDICATOR,actual,MAX,pred_average,pred_var,banana,beef,bread,chicken,eggs,electricity,flour,iceCream,unleadedGasoline,ACTUAL_CONF
0,2019,2022,411,RealGDP,NaN,NaN,NaN,NaN,0.576,3.761333,1.272333,1.475667,1.551667,0.135333,0.442333,4.894667,2.402,0.220772
1,2019,2022,421,RealGDP,NaN,0.35,1.8,1.01,0.576,3.761333,1.272333,1.475667,1.551667,0.135333,0.442333,4.894667,2.402,0.267844
2,2019,2022,422,RealGDP,NaN,NaN,NaN,NaN,0.576,3.761333,1.272333,1.475667,1.551667,0.135333,0.442333,4.894667,2.402,0.231174
3,2019,2022,423,RealGDP,NaN,NaN,NaN,NaN,0.576,3.761333,1.272333,1.475667,1.551667,0.135333,0.442333,4.894667,2.402,0.177899
4,2019,2022,424,RealGDP,NaN,NaN,NaN,NaN,0.576,3.761333,1.272333,1.475667,1.551667,0.135333,0.442333,4.894667,2.402,0.297746

In [30]:
# Second Way Merge
predicted_conf2 = pd.merge(predict_set, datagrouped2, how="left", left_on=["FORECASTER ID"], right_on=["FORECASTER ID"] )

In [31]:
predicted_conf2.head()

,YEAR FORECAST MADE,YEAR BEING FORECAST,FORECASTER ID,INDICATOR,actual,MAX,pred_average,pred_var,banana,beef,bread,chicken,eggs,electricity,flour,iceCream,unleadedGasoline,ACTUAL_CONF
0,2019,2022,411,RealGDP,NaN,NaN,NaN,NaN,0.576,3.761333,1.272333,1.475667,1.551667,0.135333,0.442333,4.894667,2.402,0.252572
1,2019,2022,421,RealGDP,NaN,0.35,1.8,1.01,0.576,3.761333,1.272333,1.475667,1.551667,0.135333,0.442333,4.894667,2.402,0.288582
2,2019,2022,422,RealGDP,NaN,NaN,NaN,NaN,0.576,3.761333,1.272333,1.475667,1.551667,0.135333,0.442333,4.894667,2.402,0.257202
3,2019,2022,423,RealGDP,NaN,NaN,NaN,NaN,0.576,3.761333,1.272333,1.475667,1.551667,0.135333,0.442333,4.894667,2.402,0.184708
4,2019,2022,424,RealGDP,NaN,NaN,NaN,NaN,0.576,3.761333,1.272333,1.475667,1.551667,0.135333,0.442333,4.894667,2.402,0.318102